---
layout: default
title: Sera - OnePage Multi-Purpose Theme
---
{% include sections/blog.html %}

{% include sections/portfolio.html %}

{% include sections/offer.html offer-text="Music is available for purchase through Bandcamp" button-text="Shop" %}


{% include sections/prices.html %}

{% include sections/offer.html offer-text="Jackal and Hyde's Patreon Community connects fans and students while supporting the music" button-text="visit" %}

{% include sections/about.html %}

{% include sections/testimonials.html %}

{% include sections/contact.html %}

{% include sections/offer.html offer-text="Music is available for purchase through Bandcamp" button-text="Shop" %}


{% include sections/parallax-features.html %}

{% include sections/team.html %}
